{{if data.hasNetwork}}
	<h3>Capacity</h3>
	<div class="statusDisplay">
		<div class="item">
			<div class="itemLabel">
				Safe capacity:
			</div>
			<div class="itemValue">
				<div> {{:data.safeCapacity.text}} </div>
			</div>
		</div>
		<div class="item">
			<div class="itemLabel">
				Max capacity:
			</div>
			<div class="itemValue">
				<div> {{:data.capacity.text}} </div>
			</div>
		</div>
	</div>
	
	<h3>Charge</h3>
	<div class="statusDisplay">
		<div class="item">
			<div class="itemLabel"> Charge: </div>
			{{if data.safeCapacity.num >= data.charge.num}}
				<div class="itemValue good"> {{:data.charge.text}} </div>
			{{else}}
				<div class="itemValue bad"> {{:data.charge.text}} </div>
			{{/if}}
		</div>
		<div class="item">
			<div class="itemLabel"> Charge percent: </div>
			<div class="itemValue">
				{{:helper.displayBar(data.charge.num, 0, data.safeCapacity.num, data.charge.num > data.safeCapacity.num ? "bad" : "good")}}
			</div>
			<div class="itemValue"> {{:helper.round(100 * data.charge.num / data.safeCapacity.num)}}%</div>
		</div>
	{{if data.charge > data.safeCapacity}}
		<div class="item">
			<div class= "itemValue bad"><i>ALERT: Risk of electric discharge</i></div>
		</div>				
		<div class="item">
			<div class= "itemValue average"><i>Please increase capacity or lower charge</i></div>
		</div>
	
	{{/if}}
	</div>
	
	<h3>Mainframes</h3>
	<div class="statusDisplay">
		<div class="item">
			<div class="itemLabel"> Nodes: </div>
			<div class="itemValue"> {{:data.nodes}}</div>
		</div>
		<div class="item">
			<div class="itemLabel"> Mainframes: </div>
			{{if data.mainframes < data.mainframesWanted}}
				<div class="itemValue average"> {{:data.mainframes}} / {{:data.mainframesWanted}} </div>
			{{else}}
				<div class="itemValue good"> {{:data.mainframes}} / {{:data.mainframesWanted}} </div>
			{{/if}}
		</div>
		<div class="item">
			<div class="itemLabel"> Safe capacity bonus: </div>
			<div class="itemValue"> {{:helper.round(100 * data.safeCapacityBonus.num / data.safeCapacity.num)}}% ({{:data.safeCapacityBonus.text}}) </div>
		</div>
		</div>
{{else}}
	<div class="notice">
		<div class="item">
			<div class= "itemValue"><i>Mainframe not wired to anything yet.</i></div>
		</div>
		<div class="item">
			<div class= "itemValue"><i>Please wire the mainframe.</i></div>
		</div>
	</div>
{{/if}}
