{{if data.hasNetwork}}
	<h3>Capacity</h3>
	<div class="statusDisplay">
		<div class="item">
			<div class="itemLabel">
				Safe capacity:
			</div>
			<div class="itemValue">
				<div> {{:data.safeCapacity}} J </div>
			</div>
		</div>
		<div class="item">
			<div class="itemLabel">
				Max capacity:
			</div>
			<div class="itemValue">
				<div> {{:data.capacity}} J </div>
			</div>
		</div>
	</div>
	
	<h3>Charge</h3>
	<div class="statusDisplay">
		<div class="item">
			<div class="itemLabel"> Charge: </div>
			{{if data.safeCapacity >= data.charge}}
				<div class="itemValue good"> {{:data.charge}} J </div>
			{{else}}
				<div class="itemValue bad"> {{:data.charge}} J </div>
			{{/if}}
		</div>
		<div class="item">
			<div class="itemLabel"> Charge percent: </div>
			<div class="itemValue">
				{{:helper.displayBar(data.charge, 0, data.safeCapacity, data.charge > data.safeCapacity ? "bad" : "good")}}
			</div>
			<div class="itemValue"> {{:helper.round(100 * data.charge / data.safeCapacity)}}%</div>
		</div>
	{{if data.charge > data.safeCapacity}}
		<div class="item">
			<div class= "itemValue bad"><i>ALERT: Risk of electric discharge</i></div>
		</div>				
		<div class="item">
			<div class= "itemValue average"><i>Please increase capacity or lower charge</i></div>
		</div>
	
	{{/if}}
	</div>
	
	<h3>Mainframes</h3>
	<div class="statusDisplay">
		<div class="item">
			<div class="itemLabel"> Nodes: </div>
			<div class="itemValue"> {{:data.nodes}}</div>
		</div>
		<div class="item">
			<div class="itemLabel"> Mainframes: </div>
			{{if data.mainframes < data.mainframesWanted}}
				<div class="itemValue average"> {{:data.mainframes}} / {{:data.mainframesWanted}} </div>
			{{else}}
				<div class="itemValue good"> {{:data.mainframes}} / {{:data.mainframesWanted}} </div>
			{{/if}}
		</div>
		<div class="item">
			<div class="itemLabel"> Safe capacity bonus: </div>
			<div class="itemValue"> {{:helper.round(100 * data.safeCapacityBonus / data.safeCapacity)}}% ({{:data.safeCapacityBonus}} J) </div>
		</div>
		</div>
{{else}}
	<h3 class="bad">%$ERROR*#!!!</h3>
	<div class="statusDisplay">
		<div class="item">
			<div class= "itemValue bad"><i>Mainframe not connected to any network.</i></div>
		</div>
		<div class="item">
			<div class= "itemValue average"><i>Please wire the mainframe</i></div>
		</div>
	</div>
{{/if}}
