<h3>Control Panel</h3>
<div class="block">
	<div class="item">
		<div class="itemLabel"> Status: </div>
		<div class="itemContent">
			{{if data.can_activate}}
				{{:helper.link('On', null, {'active' : 1}, data.active ? 'selected' : null)}}
				{{:helper.link('Off', null, {'active' : 0}, data.active  ? null : 'selected')}}
			{{else}}
				{{:helper.link('On', null, {}, 'disabled')}}
				{{:helper.link('Off', null, {}, 'selected')}}
			{{/if}}
		</div>
	</div>
	<div class="item">
		<div class="itemLabel"> Input Mode: </div>
		<div class="itemContent">
			{{if data.input_modes_available[0]}}
				{{:helper.link('AC', null, {'DC_input' : 0}, data.input_mode ? null : 'selected')}}
			{{else}}
				{{:helper.link('AC', null, {}, 'disabled')}}
			{{/if}}
			{{if data.input_modes_available[1]}}
				{{:helper.link('DC', null, {'DC_input' : 1}, data.input_mode ? 'selected' : null)}}
			{{else}}
				{{:helper.link('DC', null, {}, 'disabled')}}
			{{/if}}
		</div>		
	</div>
	<div class="item">
		<div class="itemLabel"> Output Mode: </div>
		<div class="itemContent">
			{{if data.output_modes_available[0]}}
				{{:helper.link('AC', null, {'DC_output' : 0}, data.output_mode ? null : 'selected')}}
			{{else}}
				{{:helper.link('AC', null, {}, 'disabled')}}
			{{/if}}
			{{if data.output_modes_available[1]}}
				{{:helper.link('DC', null, {'DC_output' : 1}, data.output_mode ? 'selected' : null)}}
			{{else}}
				{{:helper.link('DC', null, {}, 'disabled')}}
			{{/if}}
		</div>		
	</div>
</div>

<h3>Power</h3>
<div class="statusDisplay">
	<div class="item">
		<div class="itemLabel"> Input: </div>
		<div class="itemContent"> {{:helper.displayBar(data.input.num, 0, data.target_input.num, data.input.num == data.target_input.num ? "good" : data.input.num > data.target_input.num ? "bad" : "average")}} 
		<br> {{:data.input.text}} / {{:data.target_input.text}} </div>
	</div>
	<div class="item">
		<div class="itemLabel"> Output: </div>
		<div class="itemContent"> {{:helper.displayBar(data.output.num, 0, data.target_output.num, data.output.num == data.target_output.num ? "good" : data.output.num > data.target_output.num ? "bad" : "average")}} 
		<br> {{:data.output.text}} / {{:data.target_output.text}} 
		<br> {{:helper.link('MIN', null, {'set_output' : 'min'})}}
		     {{:helper.link('SET', null, {'set_output' : 'set'})}}
		     {{:helper.link('MAX', null, {'set_output' : 'max'})}} </div>
	</div>
	<div class="item">
		<div class="itemLabel"> Efficiency: </div>
		<div class="itemContent"> {{:data.efficiency}}% </div>
	</div>
</div>

<h3>Torque</h3>
<div class="statusDisplay">
	<div class="item">
		<div class="itemLabel"> Input: </div>
		<div class="itemContent"> {{:data.torque_input.text}} / {{:data.target_torque_input.text}} </div>
	</div>
	<div class="item">
		<div class="itemLabel"> Output: </div>
		<div class="itemContent"> {{:data.torque_output.text}} / {{:data.target_torque_output.text}} </div>
	</div>
	<div class="item">
		<div class="itemLabel"> Difference: </div>
		<div class="itemContent"> {{:helper.displayBar(data.torque_diff.num, 0, data.torque_maxdiff.num, data.torque_diff.num > data.torque_maxdiff.num * 0.9 ? "average" : "good")}}
		<br>
		{{if data.torque_diff.num < data.torque_maxdiff.num}}
			<div class="good"> {{:data.torque_diff.text}} / {{:data.torque_maxdiff.text}} </div>
		{{else}}
			<div class="average"> {{:data.torque_diff.text}} / {{:data.torque_maxdiff.text}} </div>
		{{/if}}
		</div>
	</div>
	{{if data.torque_diff.num > data.torque_maxdiff.num}}
		<div class="item">
			<div class= "itemContent bad"><i>ALERT: Torque difference too high, shaft under stress!</i></div>
		</div>
	{{else data.target_torque_diff.num > data.torque_maxdiff.num}}
		<div class="item">
			<div class= "itemContent average"><i>WARNING: Target torque difference too high, shaft may be exposed to stress while active</i></div>
		</div>
	{{/if}}
</div>

<h3>Damage</h3>
<div class="statusDisplay">
	<div class="item">
		<div class="itemLabel"> Stress: </div>
		<div class="itemContent"> {{:helper.displayBar(data.stress, 0, 100, data.stress >= data.stress_max ? "bad" : "average")}} {{:data.stress}}%</div>
	</div>
	{{if data.stress >= 75}}
		<div class="item">
			<div class= "itemContent bad"><i>ALERT: Shaft stress reaching breaking point</i></div>
		</div>
		<div class="item">
			<div class= "itemContent average"><i>Please reduce torque difference and repair accumulated damage</i></div>
		</div>
	{{/if}}
	<div class="item">
		<div class="itemLabel"> Carbon build-up: </div>
		<div class="itemContent">{{:helper.displayBar(data.carbon, 0, 100, data.carbon >= data.carbon_max ? "bad" : "average")}} {{:data.carbon}}%</div>
	</div>
	{{if data.carbon >= data.carbon_max}}
		<div class="item">
			<div class= "itemContent bad"><i>ALERT: Carbon dust levels too high, flash-over possible</i></div>
		</div>
		<div class="item">
			<div class= "itemContent average"><i>Please turn off the machine and clear excess carbon dust</i></div>
		</div>
	{{/if}}
</div>

<h3>Reagents</h3>
<div class="statusDisplay">
	<div class="item">
		<div class="itemLabel"> Capacity: </div>
			<div class="itemContent"> {{:helper.displayBar(data.reagents.total_volume / data.reagents.maximum_volume, 0, 1, "good")}}
			<br>{{:data.reagents.total_volume}}u / {{:data.reagents.maximum_volume}}u</div>
		</div>
		<div class="item">
			<div class="itemLabel"> Usage rate: </div>
			<div class="itemContent"> {{:data.reagentRate}}u </div>
		</div>
		<div class="item">
			<div class="itemLabel"> Reagents: </div>
			<div class="itemContent">
				<table>
				<tbody>
					{{for data.reagents.reagent_list}}
					<tr>
						<td>{{:value.name}}:</td>
						<td>{{:value.volume}}u</td>
					</tr>
					{{/for}}
				</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
